<!--HERANÇA DE TEMPLATES -->
{% extends 'layout.html' %} {% block title %} Alterando Senha {{ current_user.name }} {% endblock %} {% block scripts %} {% endblock %}

<!--Marcador inicial do bloco de informações, para anexar em uma página base-->
{% block content %}
<div class="container" style="margin-top: 5rem">
    <form action="" method="POST">
        {{form.csrf_token }}
        <h2>Alterando senha de {{ current_user.name }} </h2>

        <div class="row" style="margin-top: 1rem">
            <!--onclick="ocultarDiv(opcao_entrada.value)"-->
            <div class=" col ">
                <label>Senha Atual:</label>
                <img id="olho_senha_atual" style="max-width: 22px;" src="{{ url_for('static',filename='img/ocultar_senha.png')}}" onclick="mostrarSenha('senha_atual','olho_senha_atual');" /> {{form.senha_atual(class="form-control ", placeholder=" ")}}
                <!--Criando uma alerta condicional-->
                {% if form.errors.senha_atual %}
                <div class="alert alert-danger " role="alert ">
                    <ul>
                        {% for e in form.errors.senha_atual %}
                        <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row" style="margin-top: 1rem">
            <!--onclick="ocultarDiv(opcao_entrada.value)"-->
            <div class=" col ">
                <label>Nova senha:</label>
                <img id="olho_nova_senha" style="max-width: 22px;" src="{{ url_for('static',filename='img/ocultar_senha.png')}}" onclick="mostrarSenha('senha_nova','olho_nova_senha');" /> {{form.senha_nova(class="form-control ", placeholder=" ", onkeyup="forcaSenha('senha_nova')")}}
                <!--Criando uma alerta condicional-->
                {% if form.errors.senha_nova %}
                <div class="alert alert-danger " role="alert ">
                    <ul>
                        {% for e in form.errors.senha_nova %}
                        <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <small id="passwordHelpInline" class="text-muted">Mínimo de 8 caracteres, contendo letras maísculas e minúsculas, números e caracter especial.</small>
                <!--<small class="form-text text-muted ">Nunca compartilhe seu e-mail e senha.</small>-->
            </div>
        </div>
        <div class="row" style="margin-top: 1rem">
            <div class=" col ">
                <label>Confirme a senha:</label>
                <img id="olho_confirma_senha" style="max-width: 22px;" src="{{ url_for('static',filename='img/ocultar_senha.png')}}" onclick="mostrarSenha('senha_confirmacao','olho_confirma_senha');" /> {{form.senha_confirmacao(class=" form-control ",
                placeholder=" ")}}
                <!--Criando uma alerta condicional-->
                {% if form.errors.senha_confirmacao %}
                <div class="alert alert-danger " role="alert ">
                    <ul>
                        {% for e in form.errors.senha_confirmacao %}
                        <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

            </div>
        </div>
        <div class="table-responsive-xl ">
            <table id="forcaSenhaTbl"></table>
        </div>

        <div class="row " style="margin-top: 1rem ">
            <div class="col-12 ">
                <button type="submit " class="btn btn-primary " id="buttonSubmit " style="margin-top: 2rem " onclick="confirmaSenhas() "> Salvar </button>
            </div>
        </div>

    </form>

    <script src="{{ url_for('static',filename='js/w_senhas.js')}}"></script>


</div>

{% endblock %}